@import url(https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 19px;
  }
}

body {
  background: #161616;
  font-family: "Hind", sans-serif;
  color: #fff;
}

header {
  position: relative;
}
header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
}
header .logo h1 {
  font-weight: 300;
  letter-spacing: -0.15rem;
}
header .logo svg {
  cursor: pointer;
  fill: #fff;
}
header nav {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #161616;
}
header nav.show {
  display: block;
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
