*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
    @include media-breakpoint-up(md) {
        font-size: 17px;
    }
    @include  media-breakpoint-up(lg) {
        font-size: 19px;
    }
}
body {
    background: $background-color;
    font-family: $font-family;
    color: $text-primary-color;
}
header {
    position: relative;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 20px;
        h1 {
            font-weight: 300;
            letter-spacing: -0.15rem;
        }
        svg {
            cursor: pointer;
            fill: $text-primary-color;
        }
    }
    nav {
        display: block;
        max-height: 0;
        position: absolute;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: $background-color;

        &.show {
            max-height: calc(100vh - 70px);
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            height: calc(100vh - 70px);
            li {
            }
        }
    }
}