*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
    @include media-breakpoint-up(md) {
        font-size: 17px;
    }
    @include  media-breakpoint-up(lg) {
        font-size: 19px;
    }
}
body {
    background: #ddd;
    font-family: $font-family;
    color: $text-primary-color;

    @include media-breakpoint-down(md) {
        &.nav-visible {
            overflow-y: hidden;
        }
    }
}
a {
    text-decoration: none;
    color: #fff;
}
.header {
    background-color: $background-color;

    &.container {
        padding-top: 0;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 20px;
        max-height: 90px;
    }

    &__background {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-weight: 300;
        letter-spacing: -0.15rem;
    }

    &__hamburger {
        display: none;
        fill: $text-primary-color;
        @include media-breakpoint-down(md) {
            display: inline;
        }
    }

    &__nav-container {
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 78px;
            right: 0;
            width: 100%;
            height: calc(100vh - 78px);
            max-height: 0;
            transition: max-height 0.2s ease-in-out;
            background-color: #161616;
            z-index: 5;
            overflow: hidden;
        }
        @include media-breakpoint-down(sm) {
            height: calc(100vh - 70px);
            top: 70px;
        }
        &.show {
            max-height: calc(100vh - 70px)
        }
    }

    &__nav {
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
}
.main-content {
    position: relative;
    top: -160px;

    &__container {
        background-color: #fff;
        color: #161616;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-up(md) {
            column-gap: 20px;
        }
    }

    &__category-list {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: calc(70% - 10px);
        }
    }
    &__widgets-list {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: calc(30% - 10px);
        }
    }

    &__category-header {
        padding: 8px 5px 4px 20px;
        background-color: $background-color;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.15rem;
    }
}
.category-row {
    border
    &__name {
        width:
    }
}