@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

$primary-color: #1063CE;
$secondary-color: #124f9f;
$background-color: #161616;

$text-primary-color: #fff;
$text-secondary-color: #696969;

$font-family: 'Hind', sans-serif;