@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

$primary-color: #2460e6;
$secondary-color: #173d91;
$background-color: #161616;

$text-primary-color: #fff;
$text-secondary-color: #696969;

$font-family: 'Hind', sans-serif;